################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Chat App Client/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
