################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs/Chat App Client/copilot-chat/4b7b92c2/sessions/3c20d1be-eec4-4386-96a5-b3140123248c
/.vs/Chat App Client/copilot-chat/4b7b92c2/sessions/5679baf0-ebf6-4ae5-8507-c0603f97e518
/.vs/Chat App Client/copilot-chat/4b7b92c2/sessions/8a3c3eb4-16a9-4350-874f-856bc2519959
/.vs/Chat App Client/copilot-chat/4b7b92c2/sessions/96cf3ae6-5114-4f84-b351-e50619fad56a
/.vs/Chat App Client/copilot-chat/4b7b92c2/sessions/cba5240c-4a6b-4ae3-a548-206cbf46cd36
/.vs/Chat App Client/copilot-chat/4b7b92c2/sessions/d184c34a-ebc1-48f3-b893-a0966a15c383
/.vs/Chat App Client/copilot-chat/4b7b92c2/sessions/d6686616-2479-4c8a-afaa-3445edee1e10
/.vs/Chat App Client/CopilotIndices/17.12.38.29086/CodeChunks.db
/.vs/Chat App Client/CopilotIndices/17.12.38.29086/CodeChunks.db-shm
/.vs/Chat App Client/CopilotIndices/17.12.38.29086/CodeChunks.db-wal
/.vs/Chat App Client/CopilotIndices/17.12.38.29086/SemanticSymbols.db
/.vs/Chat App Client/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
/.vs/Chat App Client/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
/.vs/Chat App Client/DesignTimeBuild/.dtbcache.v2
/.vs/Chat App Client/FileContentIndex/013733b0-f12a-4f53-abe0-7cee2e9cf7ae.vsidx
/.vs/Chat App Client/FileContentIndex/0f56bebb-1744-45bd-97f9-9ec1ed58c870.vsidx
/.vs/Chat App Client/FileContentIndex/18c68da8-1dfa-41ce-ac5e-1c7e57a043a3.vsidx
/.vs/Chat App Client/FileContentIndex/43065940-0820-4eae-a31b-2512bd9ca5fe.vsidx
/.vs/Chat App Client/FileContentIndex/5149ea7b-a743-448f-b656-b4e461f2d523.vsidx
/.vs/Chat App Client/FileContentIndex/7a92bbfb-8d7a-4bb0-9985-85991fddb4d9.vsidx
/.vs/Chat App Client/FileContentIndex/b9545282-234b-4441-9338-f22609edaa6c.vsidx
/.vs/Chat App Client/FileContentIndex/cca5617a-ce45-410b-b3c7-4cd0670456db.vsidx
/.vs/Chat App Client/FileContentIndex/d0c49889-e9dc-4edb-a24d-e842df4e6414.vsidx
/.vs/Chat App Client/FileContentIndex/fe644215-0092-411e-9a52-d26e472268ca.vsidx
/.vs/Chat App Client/v17/.futdcache.v2
/.vs/Chat App Client/v17/.suo
/.vs/Chat App Client/v17/DocumentLayout.backup.json
/.vs/Chat App Client/v17/DocumentLayout.json
/.vs/Chat-App/v17/workspaceFileList.bin
/.vs/ProjectEvaluation/chat app client.metadata.v9.bin
/.vs/ProjectEvaluation/chat app client.projects.v9.bin
/.vs/ProjectEvaluation/chat app client.strings.v9.bin
/.vs/VSWorkspaceState.json
/.vs/Chat App Client/FileContentIndex/0c790b94-8731-4b55-8236-4ed3f21a9141.vsidx
/.vs/Chat App Client/FileContentIndex/4d005485-f3ae-4aa2-afe5-d3fef7e7d25f.vsidx
/.vs/Chat App Client/FileContentIndex/53f8b699-a48f-4b3e-8aae-2fa017bb8760.vsidx
/Client (.Net)/obj/Debug/net8.0-windows10.0.17763.0/Chat App.AssemblyInfo.cs
/Client (.Net)/obj/Debug/net8.0-windows10.0.17763.0/Chat App.AssemblyInfoInputs.cache
/Client (.Net)/obj/Debug/net8.0-windows10.0.17763.0/Chat App_5przedxm_wpftmp.AssemblyInfo.cs
/Client (.Net)/obj/Debug/net8.0-windows10.0.17763.0/Chat App_5przedxm_wpftmp.AssemblyInfoInputs.cache
/Client (.Net)/obj/Debug/net8.0-windows10.0.17763.0/Chat App_5przedxm_wpftmp.assets.cache
/Client (.Net)/obj/Debug/net8.0-windows10.0.17763.0/Chat App_5przedxm_wpftmp.csproj.BuildWithSkipAnalyzers
/Client (.Net)/obj/Debug/net8.0-windows10.0.17763.0/Chat App_5przedxm_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Client (.Net)/obj/Debug/net8.0-windows10.0.17763.0/Chat App_5przedxm_wpftmp.GlobalUsings.g.cs
/Client (.Net)/obj/Debug/net8.0-windows10.0.17763.0/Chat App_5przedxm_wpftmp.sourcelink.json
/.vs/Chat App Client/DesignTimeBuild/.dtbcache.v2
/.vs/Chat App Client/FileContentIndex/9628e8ef-1fc7-48b3-98d3-19cdb97e6745.vsidx
/.vs/Chat App Client/FileContentIndex/b4aff14c-1b20-41b0-9b48-99b54f039bc7.vsidx
/.vs/Chat App Client/FileContentIndex/c81ca098-245b-4d88-aea1-2e7baa619439.vsidx
/.vs/Chat App Client/FileContentIndex/dd0087c0-3957-4999-a151-ef088c76678e.vsidx
/.vs/Chat App Client/FileContentIndex/ed792176-19bc-4ca5-828b-f9abc32d86fa.vsidx
/.vs/Chat App Client/v17/.futdcache.v2
/.vs/Chat App Client/v17/.suo
/.vs/Chat App Client/v17/DocumentLayout.backup.json
/.vs/Chat App Client/v17/DocumentLayout.json
/.gitignore
/.vs/Chat App Client/FileContentIndex/7004440d-60e2-4c4e-9918-765436e78b95.vsidx
/.vs/Chat App Client/FileContentIndex/7034ebfb-4c95-4f93-875d-5bebed9ba52f.vsidx
/.vs/Chat App Client/FileContentIndex/b48e3e6a-dff6-42bc-940c-421d383e299a.vsidx
/.vs/Chat App Client/FileContentIndex/bd778c46-a932-4d30-ab2e-2432cbd40e27.vsidx
/Client (.Net)/obj/Debug/net8.0-windows10.0.17763.0/App.g.i.cs
/Client (.Net)/obj/Debug/net8.0-windows10.0.17763.0/Chat App.assets.cache
/Client (.Net)/obj/Debug/net8.0-windows10.0.17763.0/Chat App.csproj.AssemblyReference.cache
/Client (.Net)/obj/Debug/net8.0-windows10.0.17763.0/Chat App.GeneratedMSBuildEditorConfig.editorconfig
/Client (.Net)/obj/Debug/net8.0-windows10.0.17763.0/Chat App_MarkupCompile.i.cache
/Client (.Net)/obj/Debug/net8.0-windows10.0.17763.0/Chat App_MarkupCompile.i.lref
/Client (.Net)/obj/Debug/net8.0-windows10.0.17763.0/GeneratedInternalTypeHelper.g.i.cs
/Client (.Net)/obj/Debug/net8.0-windows10.0.17763.0/UserControls/ShadeControl.g.i.cs
/.vs/Chat App Client/FileContentIndex/33cd1def-a858-49ef-95fe-46f4f8302870.vsidx
/.vs/Chat App Client/FileContentIndex/380f2780-c847-4c46-ac72-b6ca6598ef95.vsidx
*.vsidx
/Client (.Net)/bin/Debug/net8.0-windows10.0.17763.0/Chat App.dll
